{% extends 'dashboard/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}  
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Log In</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Log In</button>
                </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Need an account? <a href="{% url 'register' %}">Sign Up Now</a>
            <small>
        </div>
        <div>
            <small class="text-muted">
            <form method="POST">
            {% csrf_token %}
                <input type="hidden" name="name" value="guest">
                <input type="hidden" name="password" value="guestpassword1">
                <button type="submit" name="guest" value="true">Continue as Guest</button>
            </form>  
            <small>
        </div>
    </div>
{% endblock content %}